*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

body {
    background-color: rgba(0, 0, 0, 0.1);
}

main {
    min-height: 100vh;
    /* padding: 1rem; */
    padding: 10rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.calculator {
    background-color: rgba(0, 0, 0, 0.7);
    width: 500px;
    height: 500px;
    border-radius: 50px;
    box-shadow: 1px 1px 34px 1px black;
    overflow: hidden;
}

.display {
    height: 20%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 3.5rem;
    color: white;
}

.grid {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: rgba(0, 0, 0, 0.9);
    gap: 2px;
}

.zero {
    grid-column: 1 / span 2;
}

.grid button {
    border: 0;
    outline: 0;
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;
    background-color: gray;
    color: white;

    &:hover {
        filter: brightness(1.3);
    }
}

.grid .operator {
    background-color: orangered;

    &:hover {
        filter: brightness(0.8);
    }
}

.grid .dark-operator {
    background-color: rgba(128, 128, 128, 0.8)
}

/*******************
** Theme Switcher ** 
********************/



h1 {
    position: absolute;
    font-size: 1rem;
    top: 3rem;
    word-spacing: 0.2rem;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: 2px solid orangered;

    &:hover {
        box-shadow: 1px 1px 34px 1px black;
    }
}

body.dark {
    background-color: black;


    .calculator {
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow: 1px 1px 34px 1px white;
    }

    .display {
        color: black;
    }

    .grid {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .grid button {
        color: black;
    }

    h1 {
        background-color: white;
        color: black;

        &:hover {
            box-shadow: 1px 1px 34px 1px white;
        }
    }
}